.post-gallery {
	.post-gallery-item {
		list-style-type: none;
		flex: 0;
		flex-basis: 250px;
		position: relative;
		// overflow: hidden;

		%curtain-basis {
			height: 100%;
			width: 50%;
			background: black;
			opacity: 0.4;
			z-index: 1;
			transition: all 1s, left 1.5s, right 1.5s, opacity 1s;
		}

		.curtain-left {
			@extend %curtain-basis;
			left: 0;
		}

		.curtain-right {
			@extend %curtain-basis;
			right: 0;
		}

		a {
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 100;
		}
		.post-img-cont {
			position: relative;
			overflow: hidden;
			opacity: 1;
			transition: all 1s ease;

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				transition: all 1s ease;
				object-fit: cover;
			}

			&::after {
				content: "";
				display: block;
				padding-top: 100%;
			}
		}
		&:first-child {
			img {
				border-top-left-radius: 20px;
			}

			.overflow-hidden {
				border-top-left-radius: 20px;
			}

			.curtain-left {
				@extend %curtain-basis;
				border-top-left-radius: 20px;
			}
		}

		&:last-child {
			img {
				border-bottom-right-radius: 20px;
			}

			.overflow-hidden {
				border-bottom-right-radius: 20px;
			}

			.curtain-right {
				@extend %curtain-basis;
				border-bottom-right-radius: 20px;
			}
		}

		.post-gallery-item-title {
			font-size: 1.5rem;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;

			.postTitle {
				color: white;
				transition: all 0.8s ease;
			}
		}

		&:hover {
			img {
				transform: scale(1.5);
			}

			.postTitle {
				opacity: 0;
			}

			.post-img-cont {
				opacity: 1;
			}

			.curtain-left {
				left: -40%;
				opacity: 0;
			}

			.curtain-right {
				right: -40%;
				opacity: 0;
			}
		}
	}
}

.overlay {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: #f0f1ec;
}

.remove-account {
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 400px;
	border-radius: 20px;
	padding: 1.5rem;
	background: rgba(250, 250, 250, 0.8);
	.flex-1 {
		flex: 1;
	}
}

.post-content {
	background: #f0f1ec;
}

//!Das gilt ja im Endeffekt für alle, das heißt, man muss nicht weitere Klassen erstellen, die nur diese Eigenschaften haben, sondern einfach nur diese Klasse in HTML vergeben

.newCmt {
	font-size: 1.5rem;
	border-radius: 10px;
	padding: 0.4rem;
}

%unreadNavTag {
	top: -9px;
	right: 10px;
}

.unreadCmt {
	@extend %unreadNavTag;
}

.unreadMsg {
	@extend %unreadNavTag;
}

.unreadPost {
	@extend %unreadNavTag;
}

%unreadListTag {
	margin-left: -6.5%;
	width: 6%;
}

.unreadMsg-chat {
	@extend %unreadListTag;
}

.unreadCmt-ownPosts {
	@extend %unreadListTag;
}

.unreadPost-myAbos {
	@extend %unreadListTag;
}

.list-unstyled {
	list-style-type: none;
}

.w-45 {
	width: 45%;
}

.chat-end {
	font-size: 1.5rem;
	padding: 0.5rem;
}

%chatArrowBasis {
	content: "";
	position: absolute;
	top: 0;
}

.chatArrow-left {
	&::after {
		border: 15px solid #28a745;
		@extend %chatArrowBasis;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
		left: -26px;
	}
}

.chatArrow-right {
	&::after {
		border: 15px solid #17a2b8;
		@extend %chatArrowBasis;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-right-color: transparent;
		right: -26px;
	}
}

.cmtCounter {
	left: -6%;
}

%postTag {
	color: black;
	z-index: 10;
	margin-left: -10px;
	top: 20px;
	padding: 4.8px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	&::before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		border-left: 11px solid transparent;
	}
}

.newPostTag {
	@extend %postTag;
	background-color: yellow;
	&::before {
		border-top: 10px solid #b5b800;
	}
}

.modifiedPostTag {
	@extend %postTag;
	background: red;
	&::before {
		border-top: 10px solid #830000;
	}
}

.editPost {
	&::after {
		content: "";
		position: absolute;
		border-bottom: 1px solid;
		left: 0;
		top: 50%;
		width: 100%;
	}
}

#search {
	padding: 0.1rem;
	div {
		padding: 0.2rem;
		background: white;

		input {
			border: none;
		}
	}
}
