.post-gallery .post-gallery-item {
  list-style-type: none;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  position: relative;
}

.post-gallery .post-gallery-item .curtain-left, .post-gallery .post-gallery-item .curtain-right, .post-gallery .post-gallery-item:first-child .curtain-left, .post-gallery .post-gallery-item:last-child .curtain-right {
  height: 100%;
  width: 50%;
  background: black;
  opacity: 0.4;
  z-index: 1;
  -webkit-transition: all 1s, left 1.5s, right 1.5s, opacity 1s;
  transition: all 1s, left 1.5s, right 1.5s, opacity 1s;
}

.post-gallery .post-gallery-item .curtain-left {
  left: 0;
}

.post-gallery .post-gallery-item .curtain-right {
  right: 0;
}

.post-gallery .post-gallery-item a {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.post-gallery .post-gallery-item .post-img-cont {
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.post-gallery .post-gallery-item .post-img-cont img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-gallery .post-gallery-item .post-img-cont::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.post-gallery .post-gallery-item:first-child img {
  border-top-left-radius: 20px;
}

.post-gallery .post-gallery-item:first-child .overflow-hidden {
  border-top-left-radius: 20px;
}

.post-gallery .post-gallery-item:first-child .curtain-left {
  border-top-left-radius: 20px;
}

.post-gallery .post-gallery-item:last-child img {
  border-bottom-right-radius: 20px;
}

.post-gallery .post-gallery-item:last-child .overflow-hidden {
  border-bottom-right-radius: 20px;
}

.post-gallery .post-gallery-item:last-child .curtain-right {
  border-bottom-right-radius: 20px;
}

.post-gallery .post-gallery-item .post-gallery-item-title {
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.post-gallery .post-gallery-item .post-gallery-item-title .postTitle {
  color: white;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.post-gallery .post-gallery-item:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.post-gallery .post-gallery-item:hover .postTitle {
  opacity: 0;
}

.post-gallery .post-gallery-item:hover .post-img-cont {
  opacity: 1;
}

.post-gallery .post-gallery-item:hover .curtain-left {
  left: -40%;
  opacity: 0;
}

.post-gallery .post-gallery-item:hover .curtain-right {
  right: -40%;
  opacity: 0;
}

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #f0f1ec;
}

.remove-account {
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  border-radius: 20px;
  padding: 1.5rem;
  background: rgba(250, 250, 250, 0.8);
}

.remove-account .flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post-content {
  background: #f0f1ec;
}

.newCmt {
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 0.4rem;
}

.unreadCmt, .unreadMsg, .unreadPost {
  top: -9px;
  right: 10px;
}

.unreadMsg-chat, .unreadCmt-ownPosts, .unreadPost-myAbos {
  margin-left: -6.5%;
  width: 6%;
}

.list-unstyled {
  list-style-type: none;
}

.w-45 {
  width: 45%;
}

.chat-end {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.chatArrow-left::after, .chatArrow-right::after {
  content: "";
  position: absolute;
  top: 0;
}

.chatArrow-left::after {
  border: 15px solid #28a745;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  left: -26px;
}

.chatArrow-right::after {
  border: 15px solid #17a2b8;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  right: -26px;
}

.cmtCounter {
  left: -6%;
}

.newPostTag, .modifiedPostTag {
  color: black;
  z-index: 10;
  margin-left: -10px;
  top: 20px;
  padding: 4.8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.newPostTag::before, .modifiedPostTag::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-left: 11px solid transparent;
}

.newPostTag {
  background-color: yellow;
}

.newPostTag::before {
  border-top: 10px solid #b5b800;
}

.modifiedPostTag {
  background: red;
}

.modifiedPostTag::before {
  border-top: 10px solid #830000;
}

.editPost::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid;
  left: 0;
  top: 50%;
  width: 100%;
}

#search {
  padding: 0.1rem;
}

#search div {
  padding: 0.2rem;
  background: white;
}

#search div input {
  border: none;
}
/*# sourceMappingURL=style.css.map */